@model SubjectTopic

<h1>Add Subject Topic</h1>

@* <form method="post" asp-controller="SubjectTopic" asp-action="AddTopic">
    <div class="mb-3">
        <label>Subject Topic Name</label>
        <input name="SubjectTopicName" />
    </div> 
    <div class="mb-3">
        <label>Subject Topic Description</label>
        <input name="SubjectTopicDescription" />
    </div>
    <div class="mb-3">
        <label>SubjectId</label>
        <input name="SubjectId" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form> *@